.grid {
    display: grid;
    justify-self: center;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    grid-template-rows: 300px;
    grid-template-areas:
          "one two three four five"
          "six seven eight nine ten"
          "eleven twelve thirteen fourteen fifteen"
}


.one {
    grid-area: one;
    display: flex;
}
.two {
    grid-area: two;
    display: flex;

}
.three {
    grid-area: three;
    display: flex;

}
.four {
    grid-area: four;
    display: flex;

}
.five {
    grid-area: five;
    display: flex;

}
.six {
    grid-area: six;
    display: flex;
}
.seven {
    grid-area: seven;
    display: flex;

}
.eight {
    grid-area: eight;
    display: flex;

}
.nine {
    grid-area: nine;
    display: flex;

}
.ten {
    grid-area: ten;
    display: flex;

}
.eleven {
    grid-area: eleven;
    display: flex;
}
.twelve {
    grid-area: twelve;
    display: flex;

}
.thirteen {
    grid-area: thirteen;
    display: flex;

}
.fourteen {
    grid-area: fourteen;
    display: flex;

}
.fifteen {
    grid-area: fifteen;
    display: flex;

}