.grid {
    display: grid;
    justify-self: center;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    grid-template-rows: 270px;
    grid-template-areas:
          "one two three four five"
}


.one {
    grid-area: one;
    display: flex;
}

.two {
    grid-area: two;
    display: flex;

}
.three {
    grid-area: three;
    display: flex;

}

.four {
    grid-area: four;
    display: flex;

}
.five {
    grid-area: five;
    display: flex;

}