:root {
  --purple2: #971d78;
  --purple1: #bc177d;
  --orange3: #d65050;
  --orange2: #dc6d20;
  --orange1: #ce7233;
}


body {
  font-family: 'Roboto', serif;
}

header {
  background: var( --purple2);
  width: 100%;
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 70px;
  opacity: 70%;
}

header .menu-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 5px;
  margin: 5px 10px;
}

.innerNavigation li:hover {
  border-bottom: solid white;
}

#btnControl {
    display: none;
}

#btnControl:checked + label > img {
  transition: all 0.3s;
  transform: rotate(90deg);
   
}

#btnControl:checked + label > .innerNavigation {
  transition: all 0.5s ease-in;
   visibility: visible;
}

.innerNavigation {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 5px;
  margin: 4px;
  top: 5px;
  left: 80px;
  visibility: hidden;
}

.innerNavigation li {
  display: inline-block;
  font-size: 16px;
  padding: 12px;
  margin: 0px;
  width: 75px;
  text-align: center;
  color: white;
}

#content {
  margin-top: 100px;
}


.poster {
  width: 150px;
  height: 230px;
  overflow: hidden;
  margin-top: 0px;
}

ol li {
  display: inline-block;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  width: 160px;
}
 ol li h4 {
  display: block;
  height: 3em;
  border: 1px solid red;
  text-align: center;
  font-weight: bolder;
 }

h1 {
  color: var(--orange2);
}

.list li{
  display: inline-block;
}

.card {
  position: relative;
}

.face1 {
  z-index: 1;
  position: fixed;
  text-align: center;
  background-image: linear-gradient(var(--purple2), var(--orange2)); 
  width:180px;
  height: 270px;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  
}

.card * {
  display: inline-block;
}

.face1 h5 {
  margin-top: 15px;
  padding: 20px;
}

.face2 {
  width: 180px;
  height: 270px;
  border-radius: 15px;
  margin: 0px;
  z-index: 2;
  position: fixed;
  transition: all 0.5s;
}

.face2:hover {
  opacity: 0%;
}

