body {
  font-family: 'Roboto', serif;
}

header {
  background: #dc8ba3;
  width: 100%;
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 70px;
  opacity: 70%;
}

header .menu-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  display: inline-block;
  top: 0px;
  left: 0px;
  padding: 5px;
  margin: 5px 10px;
}

.innerNavigation li:hover {
  border-bottom: solid white;
}

#btnControl {
    display: none;
}

#btnControl:checked + label > img {
  transition: all 0.3s;
    transform: rotate(90deg);
   
}

#btnControl:checked + label > .innerNavigation {
  transition: all 0.5s ease-in;
   visibility: visible;
}

.innerNavigation {
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 5px;
  margin: 4px;
  top: 5px;
  left: 80px;
  visibility: hidden;
}

.innerNavigation li {
  display: inline-block;
  font-size: 16px;
  padding: 12px;
  margin: 0px;
  width: 75px;
  text-align: center;
  color: white;
}

#content {
  margin-top: 100px;
}


.poster {
  width: 150px;
  height: 230px;
  border: solid #b38BDC 3px;
  overflow: hidden;
  margin-top: 0px;
}

ol li {
  display: inline-block;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  width: 160px;
}
 ol li h4 {
  display: block;
  height: 3em;
  border: 1px solid red;
  text-align: center;
  font-weight: bolder;
 }

h1 {
  color: #A0C0FF;
}