:root {
  --DarkBlue: #041562;
  --Blue: #11468F;
  --Red: #DA1212;
  --LightGrey: #EEEEEE;
}

html, body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header {
  border: 1px solid red;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: var(--Blue);
  height: 80px;
}

button {
  border: 1px solid red;
  background-color: var(--Blue);
  width: 80px;
  height: 80px;
}
  
button * {
  width: 80%
}
  
path {
  fill: white;
}
  
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
  }
  
  .ham.active {
    transform: rotate(45deg);
  }
  
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham .top {
    stroke-dasharray: 40 121;
  }
  .ham .bottom {
    stroke-dasharray: 40 121;
  }
  .ham.active .top {
    stroke-dashoffset: -68px;
  }
  .ham.active .bottom {
    stroke-dashoffset: -68px;
  }
  
  .innerNavigation {
    border: 1px solid red;
    display: inline-block;
    margin: 0px;
    width: 50%;
    padding:0px;
    display: none;
    justify-content: space-between;
    align-self: end;
    height: 80px;
  }
  
  .innerNavigation li{
    border: 1px solid red;
    display: inline-block;
    font-size: 10px;
    width: 24%;
    text-align: center;
    color: black;
    font-size: xx-large;
    font-family: 'Barlow Condensed', sans-serif;
  }