:root {
  --DarkBlue: #041562;
  --Blue: #11468F;
  --Red: #DA1212;
  --LightGrey: #EEEEEE;
}

html, body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: var(--Blue);
  height: 80px;
  z-index: 10;
}

#menubutton {
  position: absolute;
  background-color: var(--Blue);
  width: 80px;
  height: 80px;
  border: none;
}
  
#menubutton * {
  width: 80%
}
  
path {
  fill: white;
}
  
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
  }
  
  .ham.active {
    transform: rotate(45deg);
  }
  
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham .top {
    stroke-dasharray: 40 121;
  }
  .ham .bottom {
    stroke-dasharray: 40 121;
  }
  .ham.active .top {
    stroke-dashoffset: -68px;
  }
  .ham.active .bottom {
    stroke-dashoffset: -68px;
  }
  
  .innerNavigation {
    margin: 0px 0px 0px 95px;
    width: 50%;
    height: 80px;
    padding:0px;
    display: none;
    align-items: end;
    justify-content: space-between;
  }
  
  .innerNavigation li{
    padding: 20px 0px 15px 0px;
    height: 40px;
    display: inline-block;
    font-size: 25px;
    width: 24%;
    text-align: center;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    border-bottom: 5px solid var(--Blue);
  }

  #innerSearch {
    display: none;
  }

  .innerNavigation li:hover{
    border-bottom: 5px solid var(--Red);
  }

  #hideSearch {
    display: none;
  }

  #searchbar {
    width:25%;
    padding: 15px;
    height: 50px;
    position: absolute;
    right: 80px;
    top: 0px;
  }

  #searchbar input[type="text"]{
    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    background-color: #456da4;
    font-size: 18px;
    border-radius: 20px;
    padding: 3px 15px;
    color: white;
    font-family: 'Barlow', sans-serif;
    border: none;
    position: absolute;
    right: 0px;
  }

  #searchbar input[type="text"]:focus, #innersearchbar input[type="text"]:focus {
    outline: none;

  }

  #searchIcon {
    margin: 0px;
    float: right;
    background-color: var(--Blue);
    width: 80px;
    height: 80px;
    border: none;
  }

  #innerSearchIcon {
    margin: 0px;
    float: right;
    background-color: var(--Blue);
    width: 50px;
    height: 50px;
    border: none;
  }

  @media only screen and (max-width: 1080px) {
    #searchbar {
      width: 17%;
    }
  }

  @media only screen and (max-width: 915px) {
    #searchbar, #searchIcon {
      display: none;
    }

    #hideSearch {
      display: inline-block;
    }

    .innerNavigation {
      width: 85%;
    }
    .innerNavigation li{
      width: 16%;
    }

    #innerSearchBar {
      display: block;
    }

  }

  @media only screen and (max-width: 777px) {
    .innerNavigation li{
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 550px) {
    .innerNavigation {
      margin: 0px 0px 0px 80px;
      margin-top: 10px;
      margin-right:0px;
      width: 40%
    }

    .innerNavigation li{
      padding: 20px 0px 15px 0px;
      display: block;
      font-size: 25px;
      width: 80%;
      text-align: center;
      background-color: #11468F;
      color: white;
      font-family: 'Barlow Condensed', sans-serif;
    }
  }

  @media only screen and (max-width: 550px) {
    .innerNavigation {
      width: 35%
    }

    .innerNavigation li{
      font-size: 18px;
      width: 80%;
    }
  }

  @media only screen and (max-width: 290px) {
    .innerNavigation {
      width: 30%
    }

    .innerNavigation li{
      font-size: 14px;
      width: 80%;
    }
  }